@charset "UTF-8";
.img{
	max-width:100%;
	max-height:100%;
	display: block;
}
.imgContainer{
	width: 800px;
	height: 800px;
	background: #ffffff;
}
.imgElem{
	width: 130px;
	height: 100px;
	text-align:center;
    overflow: hidden;
    float: left;
    border:#887675 solid 1px;
}